spring.datasource.url=jdbc:postgresql://localhost:5432/<DATABASE_NAME>
spring.datasource.username=<USERNAME>
spring.datasource.password=<PASSWORD>

spring.jpa.show-sql=true/false
spring.jpa.properties.hibernate.format_sql=true/false

stickme.cors.allowedOrigins=<SOME_URL>

spring.servlet.multipart.location=<SOME_PATH>
spring.servlet.multipart.max-file-size=2MB
stickme.uploads.location=<SOME_PATH>
